<!doctype html>
<html lang="en">
  <head>
    <title>DB Communication</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    
    </style>
  </head>
  <body>
      <div class="container" style="border: 1px dashed purple;">
          <h1> These are all my friends! </h1>
          <div class="container">
            {% for info in friends %}
              <h4 class="list-group-item">First Name: {{ info.first_name }} </h4>
              <h4 class="list-group-item">Last Name: {{ info.last_name }} </h4>
              <h4 class="list-group-item">Occupation: {{ info.occupation }} </h4>
              <hr style="border: 1px solid black;">
            {% endfor %}
          </div>
          <div class="container">
            <form action="/create_friend" method="POST">
            <label for="first_name"> First Name: </label>
            <input type="text" name="first_name"> <br> <br>
            <label for="last_name"> Last Name: </label>
            <input type="text" name="last_name"> <br> <br>
            <label for="occupation"> Occupation </label>
            <input type="text" name="occupation">
            <input type="submit" class="btn btn-info" id="Submit">
            </form>
          </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>