<!doctype html>
<html lang="en">
  <head>
    <title>Ninja Gold</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    .col-sm-2{
      background-color: lightblue;
      margin-left: 10px;
      border-radius: 10px; 
      height: 200px;
    }
    .text-body{
      background-color: blanchedalmond; 
      width: 700px; 
      height: 200px; 
      margin-top: 50px; 
      overflow: scroll;
      border: 2px solid rgb(70, 24, 39);
    }
    .btn{
      margin-left: 0 auto;
      box-shadow: 2px 2px goldenrod;
      border: 0px;
      background: radial-gradient(rgb(11, 2, 41), rgb(151, 142, 9) 0%, rgb(17, 1, 85))
    }
    </style>
  </head>
  <body>
      <div class="container" style="background-color: antiquewhite; width: 255px; margin: 80px auto; border-radius: 10px;">
          <h4 style="display: inline-block; margin: 10px auto;"> Your Gold</h4>
          <h3 style="display: inline-block;"> {{ session['count'] }} </h3>
          <img  style="width: 30px; height: 30px; display: inline-block; margin-left: 10px; margin-bottom: 12px;" alt="Ycoin.png" src="{{ url_for('static', filename='cryptosteve.jpg') }}">
          
      </div>
      <div class="row">
        <div class="container col-sm-2">
          <h1 style="font-size: 200%; margin-left: 30px;"> Farm </h1>
          <h5 style="margin: 20px auto;">(earns 10-20 golds)</h5>

          <form action="/process_money" method="POST">
            <input type="hidden" name="farm">
            <input class="btn btn-primary text-center" type="submit" value="Find Gold">
          </form>
        </div>
        <div class="container col-sm-2">
            <h1 style="font-size: 200%; margin-left: 30px;"> Cave </h1>
            <h5 style="margin: 20px auto;">(earns 5-10 golds)</h5>
    
            <form action="/process_money" method="POST">
              <input type="hidden" name="cave">
              <input  class="btn btn-primary text-center" type="submit" value="Find Gold">
            </form>
          </div>
          <div class="container col-sm-2">
              <h1 style="font-size: 200%; margin-left: 30px;"> House </h1>
              <h5 style="margin: 20px auto;">(earns 2-5 golds)</h5>
      
              <form action="/process_money" method="POST">
                <input type="hidden" name="house">
                <input  class="btn btn-primary text-center" type="submit" value="Find Gold">
              </form>
            </div>
            <div class="container col-sm-2">
                <h1 style="font-size: 200%; margin-left: 30px;"> Casino </h1>
                <h5 style="margin: 20px auto;">(earns 0-50 golds)</h5>
        
                <form action="/process_money" method="POST">
                  <input type="hidden" name="casino">
                  <input  class="btn btn-primary text-center" type="submit" value="Find Gold">
                </form>
              </div>
        </div>
        <div class="container text-body">
          {% for update in session['update'] | reverse %}
            {% if update|length > 64 %}
            <h6 style="color: red;"> {{ update }} </h6>
            {% else %}
            <h6 style="color: green;"> {{ update }} </h6>
            {% endif %}
          {% endfor %}
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>